<div class="card p-2">
  <div
    class="card-header bg-white border-0 mt-3 d-flex align-items-center justify-content-between"
  >
    <h3 class="card-title">Task Details</h3>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
  </div>
  <div class="card-body pt-1">
    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Add a task title"
          formControlName="title"
        />
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          placeholder="Add any description to your task"
          style="resize: none"
          formControlName="description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Due Date</label>
        <input
          class="form-control"
          type="date"
          placeholder="DD/MM/YYYY"
          formControlName="dueDate"
        />
      </div>
      <div class="d-flex justify-content-center mt-4">
        <button
          class="btn btn-danger me-3"
          type="button"
          (click)="closeModal()"
        >
          Cancel
        </button>
        <button class="btn btn-success" type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
