<div class="card p-2">
  <div
    class="card-header bg-white border-0 mt-3 d-flex align-items-center justify-content-between"
  >
    <h3 class="card-title">Task Details</h3>
    <button type="button" class="btn-close"></button>
  </div>
  <div class="card-body pt-1">
    <form action="">
      <div class="mb-3">
        <label for="title" class="form-label">Email address</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Add a task title"
        />
      </div>
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="mb-3">
        <label for="comments" class="form-label">Comments</label>
        <textarea
          class="form-control"
          id="comments"
          rows="3"
          placeholder="Add any comments to your task"
          style="resize: none"
        ></textarea>
      </div>
    </form>
  </div>
</div>
